<div class="about row">

    <div class="col-md-8">

    	<img src="https://raw.githubusercontent.com/2econsulting/2econsulting.github.io/master/_img/D.jpg" alt="img" style="width:90%;">

    	<br/>

        <h2>Research Process</h2>

   		<br/>

        <h4>[1단계] 조사 및 연구</h4> 
		<li>신규 분석 알고리즘 조사 : 새로운 분석 알고리즘 조사, 개념 이해, 사용방법 숙지, 성능 테스트</li>
		<li>신규 분석 알고리즘 개발 : 기존의 분석 알고리즘을 보완 및 응용하여 새로운 알고리즘 개발</li>
		<li>분석 자동화 모듈 개발 : 분석 과정에서 일반화 할 수 있는 영역 자동화</li>
        
        <br/>

		<h4>[2단계] 테스트</h4> 
		<li>개발 된 알고리즘 및 모듈의 성능 테스트</li>

        <br/>
		
		<h4>[3단계] 적용</h4> 
		<li>개발 된 알고리즘 및 모듈을 사용하여 내/외부 프로젝트에 적용</li>

   		<br/>

        <h2>Contact Us</h2>
		
		<br/>

        <h4>투이컨설팅 데이터사이언스 현종열 책임</h4> 
        <li>Email : jacobgreen1984@2e.co.kr</li>
        <li>GitHub <a href="https://github.com/jacobgreen1984">https://github.com/jacobgreen1984</a></li>

        <br/>

        <h4>투이컨설팅 데이터사이언스 박한솔 선임</h4>  
        <li>Email：hansol@2e.co.kr</li>

		<br/>

        <h4>투이컨설팅 데이터사이언스 김현서 선임</h4>  
        <li>Email：hskim@2e.co.kr</li>
        
        <br/>

        <h4>투이컨설팅 데이터사이언스 장종선 선임</h4>  
        <li>Email：jsjang@2e.co.kr</li>
        
        <br/>
        
        <h4>투이컨설팅 데이터사이언스 허성욱 사원</h4>  
        <li>Email：heosungwook@2e.co.kr</li>

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>