<div class="about row">

    <div class="col-md-8">

        <h2>2e Consulting - Data Science Laboratory Members</h2>
		
		<br/>

        <h4>투이컨설팅 데이터사이언스 랩장 현종열 책임</h4> 
        <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
        <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        
        <br/>

        <h4>투이컨설팅 데이터사이언스 랩원 박한솔 선임</h4>  
        <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
        <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        
		<br/>

        <h4>투이컨설팅 데이터사이언스 랩원 김현서 선임</h4>  
        <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
        <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        
        <br/>

        <h4>투이컨설팅 데이터사이언스 랩원 장종선 선임</h4>  
        <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
        <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>
        
        <br/>
        
        <h4>투이컨설팅 데이터사이언스 랩원 허성욱 사원</h4>  
        <li>Email：<a href="mailto:{{ site.email }}" target="_top">{{ site.email }}</a></li>
        <li>GitHub：<a href="{{ site.github_url }}">{{ site.github_url }}</a></li>

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>