<div class="about row">

    <div class="col-md-8">

        <h4>Feature Engineering</h4> 
        <li> WoE features if there are too many splits </li>
        <li> Target Mean Encoding </li>
        
        <br/>

        <h4>Feature Selection</h4> 
        <li> https://www.kaggle.com/ogrellier/feature-scoring-vs-zeros </li>
        
        <br/>

        <h4>Feature Extraction</h4>
        <li> .. </li> 
        
        <br/>

        <h4>Modeling</h4> 
        <li> Light GBM, CatBoost, XGBoost, Extra Trees </li> 
        <li> Tuning : Cartesian + Random Grid Search </li> 
        <li> Ensemble : 2-layer or 3-layer </li>
        <li> train데이터셋의 target range를 기준으로 예측값 cut off </li>

        <br/>

    </div>

</div>