<script src="http://code.jquery.com/jquery.min.js"></script> 

<script> 
$(function(){ 
	includeLayout(); 
}); 

function includeLayout(){ 
	var includeArea = $('[data-include]'); 
	var self, url; 
	$.each(includeArea, function() { 
		self = $(this); 
		url = self.data("include"); 
		self.load(url, function() { 
			self.removeAttr("data-include"); 
		}); 
	}); 
} 
</script>


<div class="col-md-8">	

	<!--<div><img src="https://raw.githubusercontent.com/2econsulting/2econsulting.github.io/master/data/newsletter/input/png/wordcloud_20180711.png"></div>-->
	<script> document.write(new Date().toLocaleDateString());</script> 데이터 사이언스 뉴스레터

	<br>

	<br>

	<h4>Kaggle Blog NEWS TITLE</h4>
	<div data-include="https://raw.githubusercontent.com/2econsulting/2econsulting.github.io/master/data/newsletter/input/html/kaggle_out.html" style="margin-left:20px;"></div>

	<br>

	<h4>Data Camp NEWS TITLE</h4>
	<div data-include="https://raw.githubusercontent.com/2econsulting/2econsulting.github.io/master/data/newsletter/input/html/datacamp_out.html" style="margin-left:20px;"></div>

	<br>

	<h4>Analytics Vidhya NEWS TITLE</h4>
	<div data-include="https://raw.githubusercontent.com/2econsulting/2econsulting.github.io/master/data/newsletter/input/html/vidhya_out.html" style="margin-left:20px;"></div>

	<br>

	<h4>Machine Learning Mastery NEWS TITLE</h4>
	<div data-include="https://raw.githubusercontent.com/2econsulting/2econsulting.github.io/master/data/newsletter/input/html/mastery_out.html" style="margin-left:20px;"></div>

</div>

<br>


