<div class="about row">

    <div class="col-md-8">

        <h4>R</h4> 
        <li>magic feature v1.0 in R (0.001 gain)</li> 
        <li>Word Embeddings From Count Vectors to Word2Vec in R</li>
        <li>Bayesian Optimization using R and H2O</li>
        <li>추천 시스템 R패키지 비교 연구</li>

        <br/>

        <h4>Python</h4> 
        <li>Imbalanced Dataset Handling Strategy with GAN</li>
        <li>zeroth(한국어 음성인식) install and test</li>

        <br/>

        <h4>R and Python</h4>
        <li><strike>Light GBM in R and Python (GBM vs Light GBM)</strike></li>
        <li>CatBoost vs Light GBM vs XGBoost in R and Python</li>
        <li>캐글 경진대회에서 10등 안에 드는 방법</li> 
        <li>CatBoost Tuninig Strategy in R & Python (hyper-parameter grid search)</li>

        <br/>

        <h4>Marketing</h4>
        <li>Customer Effort Score</li>        

    </div>

    <div class="col-md-4">
        {% include sidebar-popular-repo.html %}
    </div>

</div>